:root {
    --primary-color: rgb(36, 79, 161);
    --secondary-color: rgb(80, 116, 183);
}

body {
    background-color: var(--primary-color);
    color: cornsilk;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 400px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid 2px cornsilk;
}

.primary-link {
    color: cornsilk;
    background-color: cadetblue;
}

hr {
    margin: 2rem 0rem;
    height: 1.5px;
    background-color: cornsilk;
}

.secondary-link {
    background-color: whitesmoke;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--secondary-color);
    height: 70px;
    padding: 1rem;
    border-radius: 0.5rem;
}

.navigation .link {
    background-color: cadetblue;
    color: cornsilk;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin: 0rem 2rem;
}

.navigation .nav-brand {
    font-weight: bold;
    color: aliceblue;
}

.nav-pills {
    text-align: right;
}

.navigation .link-active {
    background-color: white;
    color: black;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    background-color: var(--secondary-color);
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 40px;
}

.hero .hero-heading {
    color: bisque;
    text-align: center;
}

.hero .hero-heading strong {
    color: var(--secondary-color);
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--secondary-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 20px;
}

.footer-header {
    color: bisque;
    font-size: large;
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer .link {
    color: bisque;
    background-color: cadetblue;
}

.footer ul {
    padding-inline-start: 0px;
}
